
body{
  background-image: url("/img/test_2.jpg");
  background-repeat:repeat;
}

#nav{
  background-image: url("/img/main_fon.jpg");
}
#nav{
  width:100%;
	float:left;
	list-style:none;
  font-family: Georgia, 'Times New Roman', Times, serif;
	margin-bottom:10px;
}
#nav li{
	float:left;
  font-size: 120%;
	margin-right:10px;
  margin-left: 10px;
	position:relative;
	display:block;
}
#nav li a{
	display:block;
	padding:5px;
	color:#fff;
	text-decoration:none;

	text-shadow:1px 1px 1px rgba(0,0,0,0.75); /* Тень текста, чтобы приподнять его на немного */
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
#nav li a:hover{
	color:#787878;
	text-decoration:none;
}

/*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/
#nav ul{
	list-style:none;
	position:absolute;
	left:-9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
	opacity:0; /* Устанавливаем начальное состояние прозрачности */
	-webkit-transition:0.25s linear opacity; /* В Webkit выпадающие пункты будут проявляться */
}
#nav ul li{
	padding-top:1px; /* Вводим отступ между li чтобы создать иллюзию разделенных пунктов меню */
	float:none;
}
#nav ul a{
	white-space:nowrap; /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
	display:block;
}
#nav li:hover ul{ /* Выводим выпадающий пункт при наведении курсора */
  left:0; /* Приносим его обратно на экран, когда нужно */
	opacity:1; /* Делаем непрозрачным */
}
#nav li:hover a{ /* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */
  text-decoration:none;
}
#nav li:hover ul a{ /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
	text-decoration:none;
	-webkit-transition:-webkit-transform 0.075s linear;
}
#nav li:hover ul li a:hover{ /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
	background:#333;
	background:rgba(0, 0, 0, 0.75); /* Будет полупрозрачным */
	text-decoration:none;
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
}



#line_block {
        border:1px dashed white;
        width:48%;
        height:auto;
        overflow: auto;

        float:left;

        margin-left:1%;
        margin-right: 1%;
        margin-top:1%;

        text-align:left;
        padding: 10px;
        }

#all_width{
  border:1px dashed white;
  
  height:auto;
  overflow: auto;

  float:left;

  margin-left:1%;
  margin-right: 1%;
  margin-top:1%;

  text-align:left;
  padding: 10px;

}

img{
  margin-left: 5%;
  margin-bottom: 5%;
  width: 72%;
  height: 50%;
}

p.head{
  width: 60%;
  border-bottom: 2px solid white;
  font-size: 145%;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

p.border{
  border-radius: 10px ;
  background-color: rgba(0, 0, 0, 0.7);
  color: rgb(255, 255, 255);
  margin-left: 1%;
}

p{
  font-size: 150%;
  color: rgb(255, 255, 255);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

ol{
  font-size: 150%;
  color: rgb(255, 255, 255);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

a.nav-link{
  font-size:120%;
  color: rgb(255, 255, 255);


  font-family: Georgia, 'Times New Roman', Times, serif;
}

a.nav-brand{
  font-size: 150%;
  color: rgb(255, 255, 255);
  margin-top:4%;



  font-family: Georgia, 'Times New Roman', Times, serif;
}

a.nav-link:hover{
  color:rgb(135, 135, 135);
  text-decoration: none;
}

a.nav-brand:hover{
  color:rgb(135, 135, 135);
  text-decoration: none;
}

  .scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
    text-indent:-9999px;
    background: url('/img/scroll.png') no-repeat;
   }
