/* V0.15 */

body.bg{
  background-color:#f5f5f5;
  height: auto;
}

nav.navbar{ /* Навигационная панель */
  border-bottom: 1px solid white;
  background-color:#222930;
  }

nav a.navbar-brand{ /* Лого сайта в навиг.панеле */
  font-family: 'Lora', serif;
  font-size:100%;
  font-weight: 600;
  color: white;
  text-shadow: 1px 1px 1px rgba(181, 181, 181, 0.75);
}

nav li a.nav-link{ /* Ссылки у навг.панели */
  font-weight: 600;
  font-size:100%;
  font-family: 'Roboto',Arial,sans-serif;
  color: white;
  text-shadow: 1px 1px 1px rgba(181, 181, 181, 0.75);
}

nav li a.nav-link:hover{ /* Ховер для ссылок */
  color:#626262;
}

.text{
  margin-top:0%;
  max-width: 100%;
  background-color:#f5f5f5;
}

p.border{
  border-radius: 10px ;
  background-color: rgba(0, 0, 0, 0.7);
  color: rgb(255, 255, 255);
  margin-left: 1%;
}

p{
  font-size: 18px;
  margin-left: 10px;
  color: rgb(0, 0, 0);

  font-family: 'Roboto',Arial,sans-serif;
}

p.head{
  width: 50%;
  border-bottom: 2px solid black;
  font-size: 25px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

p.subtitle{
  font-size: 19px;
}

ul{
  color: white;
  font-size: 18px;
}

li{
  color: black;
  font-size: 18px;
}

#scroller{
    position: fixed;
    /** позиция кнопки scroll to top **/
    bottom: 30px;
    right:30px;
    /** картинка кнопки наверх**/
    background-image: url(/img/scroll.png);
    background-size: auto;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    cursor: pointer;
    /** скрываем кнопку в начале **/
    display:none;
}
