/* V0.15 */

body.bg{
  background-color:#222930;
  height: auto;
}


nav.navbar{ /* Навигационная панель */
  border-bottom: 1px solid white;
  background-color:#222930;
  }

nav a.navbar-brand{ /* Лого сайта в навиг.панеле */
  font-family: 'Roboto',Arial,sans-serif;
  font-size:100%;
  font-weight: 600;
  color: white;
}

nav li a.nav-link{ /* Ссылки у навг.панели */
  font-weight: 600;
  font-size:100%;
  font-family: 'Roboto',Arial,sans-serif;
  color: white;
}

nav li a.nav-link:hover{ /* Ховер для ссылок */
  color:#777474;
}

.bg-div{
  height: 100vh;
  max-width: 100%;
  background-color:#f5f5f5;
}

.bg-div  .ver-alg{
  height: 100%;
}

/* Service */
.bg-cont{
  max-width: 100%;
  max-height: 100%;
}

 .center .cont-title{
  width:100%;
  font-family: 'Roboto',Arial,sans-serif;
  color: black;
  font-size: 150%;
  font-weight: 600;
}

.wrapper{
  max-width:100%;
  margin: 1%;
  display: inline-block;
}

.flexx{
  max-width: 100%;
  align-items: center;
}

.container-left{
  text-align: center;
  width: 30%;
  margin:1.5%;
  float: left;
}

.container-m{
  text-align: center;
  float: left;
  margin:1.5%;
  width: 30%;
}

.container-right{
  text-align: center;
  float: left;
  margin:1.5%;
  width: 30%;
}

.cont-int{
  font-family: 'Roboto',Arial,sans-serif;
  color: black;
  font-size: 110%;
  font-weight: 600;
  margin-left: 1%;
  margin-right: 1%;
}

.container-m img{
  width:40%;
  margin-bottom: none;
}

.container-left img{
  width:40%;
  margin-bottom: none;
}

.container-right img{
  width:42%;
  margin-bottom: none;
}

@media (max-width:1000px) and (max-height:800px){
  .center .cont-title{
    width:100%;
    text-align: center;
    font-family: 'Roboto',Arial,sans-serif;
    color: black;
    font-size: 3.1vw;
    font-weight: 600;
  }

  .container-left{
    text-align: center;
    width: 100%;
    margin:1.5%;
  }

  .container-m{
    text-align: center;
    margin:1.5%;
    width: 100%;
  }

  .container-right{
    text-align: center;
    margin:1.5%;
    width: 100%;
  }
}

.bg-div .int-slider{ /* Контейнер для слайдера */
  max-width: 100%;
}

.bg-div .int-inform{ /* Обычный текст */
  font-family: 'Roboto',Arial,sans-serif;
  text-align: center;
  color: white;
  font-size: 150%;
  font-weight: 600;
  margin-left: 1%;
  margin-right: 1%;
}

.bg-div .int-title{ /* Заголовок у текста */
  text-align: center;
  font-family: 'Roboto',Arial,sans-serif;
  color: white;
  font-size: 200%;
  font-weight: 600;
  margin-left: 1%;
  margin-right: 1%;
}

button{
  border:0.5px solid white;
  background-color:rgb(0, 0, 0,0.7);
  font-family: 'Roboto',Arial,sans-serif;
  font-weight: 600;
  color: white;
}

button:hover{
  -ms-transform: scale(1.1);
  -ms-transition: 2s;
  -webkit-transform: scale(1.1);
  -webkit-transition: 2s;
  transform: scale(1.1);
  transition: 2s;
  background-color:rgb(255, 255, 255);
  color: black;
}

button::after{
  transform: scale(1);
  transition: 2s;
  background-color:rgb(0, 0, 0,0.7);
  color: white;
}

/* STICKY-DIV */
.bg-div-text{
  height: 100%;
  max-width: 100%;
  background-color:#f5f5f5;
  overflow: auto;
}

.stick-div{ /* Блок Навигации по тексту */
  border: 1px solid rgb(145, 21, 156);
  max-width: 100%;
  top: 0;
  z-index: 4;
  min-height: 2em;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  position: sticky;
}

.spoiler_links{ /* Навигация по тексту*/
  font-family: 'Roboto',Arial,sans-serif;
  font-size:100%;
  font-weight: 600;
  color: white;
  display: inline;
  text-align: center;
  margin-left: 1%;
  margin-right: 1%;
}

.spoiler_links:hover{
  text-decoration: none;
  color:rgb(219, 214, 196);
}

/* Текст для классов */
 p.border{ /* текст в бордере*/
  border: 1.5px solid rgb(106, 97, 82) !important;
  border-radius: 8px;
  color: black;
  font-size: 125%;
  font-weight: 600;
  font-family: 'Roboto',Arial,sans-serif;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

 p{ /* текст */
  font-family: 'Roboto',Arial,sans-serif;
  color: black;
  font-size: 120%;
  font-weight: 600;
  margin-left: 0.5%;
  margin-right: 0.5%;
  word-wrap: break-word;
}

 p.head{ /* Заголовок */
  width: 50%;
  text-align: center;
  border-bottom: 0.5px solid rgba(255, 4, 15, 0.68);
  font-family: 'Roboto',Arial,sans-serif;
  font-size: 140%;
  font-weight: 600;
  margin-left:25%;
  margin-right: 25%;
  color: rgb(0, 0, 0);
}

  p.subtitle{ /* Подзаголовки в тексте */
  font-size: 120%;
  font-family: 'Roboto',Arial,sans-serif;
  color: black;
  font-weight: 600;
}

  span{ /* MathQuill формулы */
  max-width: 100%;
  color: black;
  font-weight: 600;
  font-family: 'Roboto',Arial,sans-serif;
  word-wrap: break-word;
}

a.link{
  color: black !important;
}


@media (max-width:1500px) {
  span{ /* MathQuill формулы */
    max-width: 100%;
    color: black;
    font-weight: 600;
    font-family: 'Roboto',Arial,sans-serif;
    word-wrap: break-word;
    overflow: hidden;
  }
}

@media (max-width:1000px) and (max-height:1000px) { /* Верстка текста */
  span{ /* MathQuill формулы */
    max-width: 100%;
    color: black;
    font-size: 2vw !important;
    font-weight: 600;
    font-family: 'Roboto',Arial,sans-serif;
    word-wrap: break-word;
    overflow: hidden;
  }

  .spoiler_links{ /* Навигация по тексту*/
    font-family: 'Roboto',Arial,sans-serif;
    font-size:2vw;
    font-weight: 600;
    color: white;
    display: inline-block;
    text-align: center;
    margin: 1%;
  }
  /* Текст для классов */
  .bg-div-text p.border{ /* текст в бордере*/
    border-radius: 12px;
    color: black;
    font-size: 2vw;
    font-weight: 600;
    font-family: 'Roboto',Arial,sans-serif;
  }

  .bg-div-text p{ /* текст */
    font-family: 'Roboto',Arial,sans-serif;
    color: black;
    font-size: 2vw;
    font-weight: 600;
    margin-left: 0.5%;
    margin-right: 0.5%;
    word-wrap: break-word;
  }

  .bg-div-text p.head{ /* Заголовок */
    width: 50%;
    text-align: center;
    border-bottom: 0.5px solid rgba(255, 4, 15, 0.68);
    font-family: 'Roboto',Arial,sans-serif;
    font-size: 3vw;
    font-weight: 600;
    margin-left:30%;
    margin-right: 30%;
    color: rgb(0, 0, 0);
  }

  .bg-div-text p.subtitle{ /* Подзаголовки в тексте */
    font-size: 2.5vw;
    font-family: 'Roboto',Arial,sans-serif;
    color: black;
    font-weight: 600;
  }

  .bg-div .int-inform{ /* Обычный текст */
    font-family: 'Roboto',Arial,sans-serif;
    text-align: center;
    color: white;
    font-size: 2vw;
    font-weight: 600;
    margin-left: 1%;
    margin-right: 1%;
  }

  .bg-div .int-title{ /* Заголовок у текста */
    text-align: center;
    font-family: 'Roboto',Arial,sans-serif;
    color: white;
    font-size: 3vw;
    font-weight: 600;
    margin-left: 1%;
    margin-right: 1%;
  }

  .cont-int{
    font-family: 'Roboto',Arial,sans-serif;
    color: black;
    font-size: 2vw !important;
    font-weight: 600;
    margin-left: 1%;
    margin-right: 1%;
  }

  .bg-div-text ul{
    font-size: 2vw;

  }

  .bg-div-text li{
    color: black;
    font-size: 2vw !important;
  }

} /* Конец верстки текста */

.bg-div-text ul{
  color: white;
  font-size: 18px;

}

.bg-div-text li{
  color: black;
  font-size: 18px;
}
/* Конец Текст для классов */

.develop{
  max-width: 100%;
}

div.footer{ /* Контейнер Футера */
  clear: both;
  max-width: 100%;
  background-color: #222930;

}

.footer p.footer{ /* Тескт футера */
  font-family: 'Roboto',Arial,sans-serif;
  font-weight: 600;
  font-size:100%;
  color: white;
  text-align: center;
}
