/* V0.15 */

body.bg{
  background-color:#222930;
  height: auto;
}

nav.navbar{ /* Навигационная панель */
  border-bottom: 1px solid white;
  background-color:#222930;
  }

nav a.navbar-brand{ /* Лого сайта в навиг.панеле */
  font-family: 'Roboto',Arial,sans-serif;
  font-size:100%;
  font-weight: 600;
  color: white;
}

nav li a.nav-link{ /* Ссылки у навг.панели */
  font-weight: 600;
  font-size:100%;
  font-family: 'Roboto',Arial,sans-serif;
  color: white;
}

nav li a.nav-link:hover{ /* Ховер для ссылок */
  color:#777474;
}

 .bg-div{
  height: 100vh;
  max-width: 100%;
  background-color:#3f4d59;
}

.bg-div  .ver-alg{
  height: 50%;
}

button{
  border:0.5px solid white;
  background-color:rgb(0, 0, 0,0.7);
  font-family: 'Roboto',Arial,sans-serif;
  font-weight: 600;
  color: white;
}

button:hover{
  -ms-transform: scale(1.1);
  -ms-transition: 2s;
  -webkit-transform: scale(1.1);
  -webkit-transition: 2s;
  transform: scale(1.1);
  transition: 2s;
  background-color:rgb(255, 255, 255);
  color: black;
}

button::after{
  transform: scale(1);
  transition: 2s;
  background-color:rgb(0, 0, 0,0.7);
  color: white;
}

/* Service */
.bg-cont{
  max-width: 100%;
  max-height: 100%;
}

.bg-cont .cont-title{
  border-bottom: 0.5px solid rgba(255, 4, 15, 0.68);
  font-family: 'Roboto',Arial,sans-serif;
  color: black;
  font-size: 200%;
  font-weight: 600;
  width:50%;
  margin-left:25%;
   margin-right:25%;
}

.wrapper{
  max-width:100%;
  margin: 1%;
  display: inline-block;
}

.flexx{
  max-width: 100%;
  align-items: center;
}

.container-left{
  text-align: center;
  width: 30%;
  margin:1.5%;
  float: left;
}

.container-m{
  text-align: center;
  float: left;
  margin:1.5%;
  width: 30%;
}

.container-right{
  text-align: center;
  float: left;
  margin:1.5%;
  width: 30%;
}

.cont-int{
  font-family: 'Roboto',Arial,sans-serif;
  color: black;
  font-size: 110%;
  font-weight: 600;
  margin-left: 1%;
  margin-right: 1%;
}

.container-m img{
  width:40%;
  margin-bottom: none;
}

.container-left img{
  width:40%;
  margin-bottom: none;
}

.container-right img{
  width:42%;
  margin-bottom: none;
}

@media (max-width:1000px) and (max-height:1000px){
  .bg-div{
    height: 70vh;
  }

  .container-left{
    text-align: center;
    width: 100%;
    margin:1.5%;
  }

  .container-m{
    text-align: center;
    margin:1.5%;
    width: 100%;
  }

  .container-right{
    text-align: center;
    margin:1.5%;
    width: 100%;
  }

  .container-m img{
    width:20%;
    margin-bottom: none;
  }

  .container-left img{
    width:20%;
    margin-bottom: none;
  }

  .container-right img{
    width:21%;
    margin-bottom: none;
  }

/* Верстка текста */

  .bg-div .int-inform{ /* Обычный текст */
    font-family: 'Roboto',Arial,sans-serif;
    text-align: center;
    color: white;
    font-size: 3vw !important;
    font-weight: 600;
    margin-left: 1%;
    margin-right: 1%;
  }

  .bg-div .int-title{ /* Заголовок у текста */
    text-align: center;
    font-family: 'Roboto',Arial,sans-serif;
    color: white;
    font-size: 3vw !important;
    font-weight: 600;
    margin-left: 1%;
    margin-right: 1%;
  }

  .cont-int{
    font-family: 'Roboto',Arial,sans-serif;
    color: black;
    font-size: 2vw !important;
    font-weight: 600;
    margin-left: 1%;
    margin-right: 1%;
  }

  .cont-title{font-family: 'Roboto',Arial,sans-serif;
  color: black;
  font-size: 3vw !important;
  }

  .first{
    font-size: 3vw;
  }
} /* Конец верстки текста */

/* End Service */

.bg-div .int-inform{ /* Обычный текст */
  font-family: 'Roboto',Arial,sans-serif;
  text-align: center;
  color: white;
  font-size: 150%;
  font-weight: 600;
  margin-left: 1%;
  margin-right: 1%;
}

.bg-div .int-title{ /* Заголовок у текста */
  text-align: center;
  font-family: 'Roboto',Arial,sans-serif;
  color: white;
  font-size: 200%;
  font-weight: 600;
  margin-left: 1%;
  margin-right: 1%;
}


div.footer{ /* Контейнер Футера */
  clear: both;
  max-width: 100%;
  border-top: 1px solid white;
  background-color: #222930;

}

.footer p.footer{ /* Тескт футера */
  font-family: 'Roboto',Arial,sans-serif;
  font-weight: 600;
  font-size:100%;
  color: white;
  text-align: center;
}
